<div class="container">
  <div class="options-container">
    <div class="option" (click)="goToCarePlans()">
      <div class="option-inner">
        <i class="material-icons huge">favorite_border </i>
        <h2>Care Plans</h2>
      </div>

      <button class="full-button">Create</button>
      
    </div>

    <div class="option" (click)="goToAssessments()">
      <div class="option-inner">
          <i class="material-icons huge">assessment</i>      
          <h2>Assessments</h2>
      </div>
      
      <button class="full-button">Create</button>

    </div>
  </div>
</div>